/*
 * P3060QDS Device Tree Source
 *
 * Copyright 2011-2012 Freescale Semiconductor Inc.
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are met:
 *     * Redistributions of source code must retain the above copyright
 *       notice, this list of conditions and the following disclaimer.
 *     * Redistributions in binary form must reproduce the above copyright
 *       notice, this list of conditions and the following disclaimer in the
 *       documentation and/or other materials provided with the distribution.
 *     * Neither the name of Freescale Semiconductor nor the
 *       names of its contributors may be used to endorse or promote products
 *       derived from this software without specific prior written permission.
 *
 *
 * ALTERNATIVELY, this software may be distributed under the terms of the
 * GNU General Public License ("GPL") as published by the Free Software
 * Foundation, either version 2 of that License or (at your option) any
 * later version.
 *
 * THIS SOFTWARE IS PROVIDED BY Freescale Semiconductor ``AS IS'' AND ANY
 * EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
 * WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
 * DISCLAIMED. IN NO EVENT SHALL Freescale Semiconductor BE LIABLE FOR ANY
 * DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
 * (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
 * LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
 * ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
 * (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
 * SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 */

/include/ "fsl/p3060si-pre.dtsi"

/ {
	model = "fsl,P3060QDS";
	compatible = "fsl,P3060QDS";
	#address-cells = <2>;
	#size-cells = <2>;
	interrupt-parent = <&mpic>;

	aliases {
		ethernet0 = &enet0;
		ethernet1 = &enet1;
		ethernet2 = &enet2;
		ethernet3 = &enet3;
		ethernet5 = &enet5;
		ethernet6 = &enet6;
		ethernet7 = &enet7;
		ethernet8 = &enet8;
		phy_rgmii1 = &phyrgmii1;
		phy_rgmii2 = &phyrgmii2;
		phy0_slot3 = &phy0slot3;
		phy1_slot3 = &phy1slot3;
		phy2_slot1 = &phy2slot1;
		phy3_slot1 = &phy3slot1;
		emi1_slot1 = &p3060mdio1;
		emi1_slot2 = &p3060mdio2;
		emi1_slot3 = &p3060mdio3;
		emi1_rgmii1 = &p3060mdio0;
		emi1_rgmii2 = &p3060mdio4;
		emi1_slot1_bk1 = &p3060mdio5;
	};

	memory {
		device_type = "memory";
	};

	dcsr: dcsr@f00000000 {
		ranges = <0x00000000 0xf 0x00000000 0x01008000>;
	};

	bportals: bman-portals@ff4000000 {
		ranges = <0x0 0xf 0xf4000000 0x200000>;
	};

	qportals: qman-portals@ff4200000 {
		ranges = <0x0 0xf 0xf4200000 0x200000>;
	};

	soc: soc@ffe000000 {
		ranges = <0x00000000 0xf 0xfe000000 0x1000000>;
		reg = <0xf 0xfe000000 0 0x00001000>;
		spi@110000 {
			flash@0 {
				#address-cells = <1>;
				#size-cells = <1>;
				compatible = "spansion,s25sl12801";
				reg = <0>;
				spi-max-frequency = <40000000>; /* input clock */
				partition@u-boot {
					label = "u-boot";
					reg = <0x00000000 0x00100000>;
					read-only;
				};
				partition@kernel {
					label = "kernel";
					reg = <0x00100000 0x00500000>;
					read-only;
				};
				partition@dtb {
					label = "dtb";
					reg = <0x00600000 0x00100000>;
					read-only;
				};
				partition@fs {
					label = "file system";
					reg = <0x00700000 0x00900000>;
				};
			};
			flash@1 {
				#address-cells = <1>;
				#size-cells = <1>;
				compatible = "spansion,en25q32b";
				reg = <1>;
				spi-max-frequency = <40000000>; /* input clock */
				partition@spi1 {
					label = "spi1";
					reg = <0x00000000 0x00400000>;
				};
			};
			flash@2 {
				#address-cells = <1>;
				#size-cells = <1>;
				compatible = "atmel,at45db081d";
				reg = <2>;
				spi-max-frequency = <40000000>; /* input clock */
				partition@spi1 {
					label = "spi2";
					reg = <0x00000000 0x00100000>;
				};
			};
			flash@3 {
				#address-cells = <1>;
				#size-cells = <1>;
				compatible = "spansion,sst25wf040";
				reg = <3>;
				spi-max-frequency = <40000000>; /* input clock */
				partition@spi3 {
					label = "spi3";
					reg = <0x00000000 0x00080000>;
				};
			};
		};

		i2c@118000 {
			eeprom@51 {
				compatible = "at24,24c256";
				reg = <0x51>;
			};
			eeprom@53 {
				compatible = "at24,24c256";
				reg = <0x53>;
			};
			rtc@68 {
				compatible = "dallas,ds3232";
				reg = <0x68>;
				interrupts = <0x1 0x1 0 0>;
			};
		};

		usb0: usb@210000 {
			phy_type = "ulpi";
		};

		usb1: usb@211000 {
			dr_mode = "host";
			phy_type = "ulpi";
		};

		fman0: fman@400000 {
			enet0: ethernet@e0000 {
				tbi-handle = <&tbi0>;
				phy-handle = <&phy6>;
				phy-connection-type = "sgmii";
			};

			mdio0: mdio@e1120 {
				tbi0: tbi-phy@8 {
					reg = <0x8>;
					device_type = "tbi-phy";
				};

				p3060mdio0: p3060qds-mdio0 { /* RGMII1, FM1-1 */
					#address-cells = <1>;
					#size-cells = <0>;
					compatible = "fsl,p3060qds-mdio";
					fsl,mdio-handle = <&mdio0>;
					fsl,mdio-muxval = <0>;

					phyrgmii1: ethernet-phy@1 {
						reg = <0x1>;
					};
				};

				p3060mdio1: p3060qds-mdio1 { /* Bank3, Slot1, SGMII */
					#address-cells = <1>;
					#size-cells = <0>;
					compatible = "fsl,p3060qds-mdio";
					fsl,mdio-handle = <&mdio0>;
					fsl,mdio-muxval = <1>;

					phy0: ethernet-phy@1c { /* FM2-3 */
						reg = <0x1c>;
					};
					phy1: ethernet-phy@1d { /* FM1-3 */
						reg = <0x1d>;
					};
					phy2: ethernet-phy@1e { /* FM2-4 */
						reg = <0x1e>;
					};
					phy3: ethernet-phy@1f { /* FM1-4 */
						reg = <0x1f>;
					};
				};

				p3060mdio2: p3060qds-mdio2 { /* Bank2, Slot2, SGMII */
					#address-cells = <1>;
					#size-cells = <0>;
					compatible = "fsl,p3060qds-mdio";
					fsl,mdio-handle = <&mdio0>;
					fsl,mdio-muxval = <2>;

					phy5: ethernet-phy@1c { /* FM2-1 */
						reg = <0x1c>;
					};

					phy6: ethernet-phy@1d { /* FM1-1 */
						reg = <0x1d>;
					};

					phy7: ethernet-phy@1e { /* FM2-2 */
						reg = <0x1e>;
					};

					/* FM1-2 reserved for RGMII2 */
				};

				p3060mdio3: p3060qds-mdio3 { /* Bank1, Slot3, SGMII */
					#address-cells = <1>;
					#size-cells = <0>;
					compatible = "fsl,p3060qds-mdio";
					fsl,mdio-handle = <&mdio0>;
					fsl,mdio-muxval = <3>;

					phy0slot3: ethernet-phy@1e { /* FM2-3 */
						reg = <0x1e>;
					};
					phy1slot3: ethernet-phy@1f { /* FM1-3 */
						reg = <0x1f>;
					};
				};

				p3060mdio4: p3060qds-mdio4 { /* RGMII2, FM1-2 */
					#address-cells = <1>;
					#size-cells = <0>;
					compatible = "fsl,p3060qds-mdio";
					fsl,mdio-handle = <&mdio0>;
					fsl,mdio-muxval = <4>;

					phyrgmii2: ethernet-phy@2 {
						reg = <0x2>;
					};
				};

				p3060mdio5: p3060qds-mdio5 { /* Bank1, Slot1, SGMII */
					#address-cells = <1>;
					#size-cells = <0>;
					compatible = "fsl,p3060qds-mdio";
					fsl,mdio-handle = <&mdio0>;
					fsl,mdio-muxval = <1>;

					phy2slot1: ethernet-phy@1c { /* FM2-4 */
						reg = <0x1c>;
					};
					phy3slot1: ethernet-phy@1d { /* FM1-4 */
						reg = <0x1d>;
					};
				};
			};

			enet1: ethernet@e2000 {
				tbi-handle = <&tbi1>;
				phy-handle = <&phyrgmii2>;
				phy-connection-type = "rgmii";
			};

			mdio@e3120 {
				tbi1: tbi-phy@8 {
					reg = <8>;
					device_type = "tbi-phy";
				};
			};

			enet2: ethernet@e4000 {
				tbi-handle = <&tbi2>;
				phy-handle = <&phy1>;
				phy-connection-type = "sgmii";
			};

			mdio@e5120 {
				tbi2: tbi-phy@8 {
					reg = <8>;
					device_type = "tbi-phy";
				};
			};

			enet3: ethernet@e6000 {
				tbi-handle = <&tbi3>;
				phy-handle = <&phy3>;
				phy-connection-type = "sgmii";
			};

			mdio@e7120 {
				tbi3: tbi-phy@8 {
					reg = <8>;
					device_type = "tbi-phy";
				};
			};
		};

		fman1: fman@500000 {
			enet5: ethernet@e0000 {
				tbi-handle = <&tbi5>;
				phy-handle = <&phy5>;
				phy-connection-type = "sgmii";
			};
			mdio@e1120 {
				tbi5: tbi-phy@8 {
					reg = <8>;
					device_type = "tbi-phy";
				};
			};

			enet6: ethernet@e2000 {
				tbi-handle = <&tbi6>;
				phy-handle = <&phy7>;
				phy-connection-type = "sgmii";
			};

			mdio@e3120 {
				tbi6: tbi-phy@8 {
					reg = <8>;
					device_type = "tbi-phy";
				};
			};

			enet7: ethernet@e4000 {
				tbi-handle = <&tbi7>;
				phy-handle = <&phy0>;
				phy-connection-type = "sgmii";
			};

			mdio@e5120 {
				tbi7: tbi-phy@8 {
					reg = <8>;
					device_type = "tbi-phy";
				};
			};

			enet8: ethernet@e6000 {
				tbi-handle = <&tbi8>;
				phy-handle = <&phy2>;
				phy-connection-type = "sgmii";
			};

			mdio@e7120 {
				tbi8: tbi-phy@8 {
					reg = <8>;
					device_type = "tbi-phy";
				};
			};
		};
	};

	rio: rapidio@ffe0c0000 {
		reg = <0xf 0xfe0c0000 0 0x11000>;

		port1 {
			ranges = <0 0 0xc 0x20000000 0 0x10000000>;
		};
		port2 {
			ranges = <0 0 0xc 0x30000000 0 0x10000000>;
		};
	};

	lbc: localbus@ffe124000 {
		reg = <0xf 0xfe124000 0 0x1000>;
		ranges = <0 0 0xf 0xe8000000 0x08000000
			  2 0 0xf 0xffa00000 0x00040000
			  3 0 0xf 0xffdf0000 0x00008000>;

		flash@0,0 {
			compatible = "cfi-flash";
			reg = <0 0 0x08000000>;
			bank-width = <2>;
			device-width = <2>;
		};

		nand@2,0 {
			#address-cells = <1>;
			#size-cells = <1>;
			compatible = "fsl,elbc-fcm-nand";
			reg = <0x2 0x0 0x40000>;

			partition@0 {
				label = "NAND U-Boot Image";
				reg = <0x0 0x02000000>;
				read-only;
			};

			partition@2000000 {
				label = "NAND Root File System";
				reg = <0x02000000 0x10000000>;
			};

			partition@12000000 {
				label = "NAND Compressed RFS Image";
				reg = <0x12000000 0x08000000>;
			};

			partition@1a000000 {
				label = "NAND Linux Kernel Image";
				reg = <0x1a000000 0x04000000>;
			};

			partition@1e000000 {
				label = "NAND DTB Image";
				reg = <0x1e000000 0x01000000>;
			};

			partition@1f000000 {
				label = "NAND Writable User area";
				reg = <0x1f000000 0x21000000>;
			};
		};

		board-control@3,0 {
			compatible = "fsl,p3060qds-fpga", "fsl,fpga-qixis";
			reg = <3 0 0x100>;
		};
	};

	pci0: pcie@ffe200000 {
		reg = <0xf 0xfe200000 0 0x1000>;
		ranges = <0x02000000 0 0xe0000000 0xc 0x00000000 0x0 0x20000000
			  0x01000000 0 0x00000000 0xf 0xf8000000 0x0 0x00010000>;
		pcie@0 {
			ranges = <0x02000000 0 0xe0000000
				  0x02000000 0 0xe0000000
				  0 0x20000000

				  0x01000000 0 0x00000000
				  0x01000000 0 0x00000000
				  0 0x00010000>;
		};
	};

	pci1: pcie@ffe201000 {
		reg = <0xf 0xfe201000 0 0x1000>;
		ranges = <0x02000000 0x0 0xe0000000 0xc 0x20000000 0x0 0x20000000
			  0x01000000 0x0 0x00000000 0xf 0xf8010000 0x0 0x00010000>;
		pcie@0 {
			ranges = <0x02000000 0 0xe0000000
				  0x02000000 0 0xe0000000
				  0 0x20000000

				  0x01000000 0 0x00000000
				  0x01000000 0 0x00000000
				  0 0x00010000>;
		};
	};

	fsl,dpaa {
		compatible = "fsl,p3060-dpaa", "fsl,dpaa";

		ethernet@0 {
			compatible = "fsl,p3060-dpa-ethernet", "fsl,dpa-ethernet";
			fsl,fman-mac = <&enet0>;
		};
		ethernet@1 {
			compatible = "fsl,p3060-dpa-ethernet", "fsl,dpa-ethernet";
			fsl,fman-mac = <&enet1>;
		};
		ethernet@2 {
			compatible = "fsl,p3060-dpa-ethernet", "fsl,dpa-ethernet";
			fsl,fman-mac = <&enet2>;
		};
		ethernet@3 {
			compatible = "fsl,p3060-dpa-ethernet", "fsl,dpa-ethernet";
			fsl,fman-mac = <&enet3>;
		};
		ethernet@5 {
			compatible = "fsl,p3060-dpa-ethernet", "fsl,dpa-ethernet";
			fsl,fman-mac = <&enet5>;
		};
		ethernet@6 {
			compatible = "fsl,p3060-dpa-ethernet", "fsl,dpa-ethernet";
			fsl,fman-mac = <&enet6>;
		};
		ethernet@7 {
			compatible = "fsl,p3060-dpa-ethernet", "fsl,dpa-ethernet";
			fsl,fman-mac = <&enet7>;
		};
		ethernet@8 {
			compatible = "fsl,p3060-dpa-ethernet", "fsl,dpa-ethernet";
			fsl,fman-mac = <&enet8>;
		};
	};
};

/include/ "fsl/p3060si-post.dtsi"

/include/ "fsl/qoriq-dpaa-res1.dtsi"
